/* Resetting all default styles and adding Robonto Font Family */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  line-height: 1.6;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #1a5276;
}

h1,
h2,
.nav-link {
  font-weight: 700;
}

p,
li,
.job-company,
.job-duration {
  font-size: 1rem;
  font-weight: 300;
}

ul {
  list-style-type: disc; /* Changing default ul style*/
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  color: #5d6d7e;
  padding-left: 10px; /* Increasing left padding to make it visually more appealing*/
}

.list-item {
  font-weight: bold;
  font-weight: 600;
}

.nav-link {
  font-size: 1.1rem;
  margin: 0 15px;
  color: #ffffff;
}

.nav-link:hover {
  border-bottom: 2px solid #f7dc6f;
}

/* Creating Custom Card Style */
section,
.main-header,
.main-footer {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

/* Hover effect on Mouse Movement onto any Card */
section:hover,
.main-header:hover,
.main-footer:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

/* Header & Footer Styles */
.main-header,
.main-footer {
  background-color: #1a5276;
  color: #ffffff;
}

.main-header {
  text-align: center;
}

.title {
  margin: auto;
}

.main-footer {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

/* Profile Picture and Profile Name Styles */
.profile-picture-header {
  vertical-align: middle;
  text-align: center;
  margin: 20px 0;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #1a5276;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-name {
  font-size: 1.5rem;
  color: #1a5276;
  margin-bottom: 5px;
}

/* Section Titles Style*/
.section-title {
  border-bottom: 2px dotted #1a5276;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

/* To give Margin space between jobs */
.job + .job {
  margin-top: 20px;
}

.job-title {
  font-weight: 600;
}

.job-company,
.job-duration {
  color: #839192;
}
